@import "config";
@import "menu";
@import "mobile";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include background;
  background-color: $primary-color;
  color: #fff;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
    padding: 0.5rem;
    letter-spacing: 8px;
  }

  &.sm-heading {
    width: auto;
    letter-spacing: 4px;
    margin-bottom: 2rem;
    padding: 0.2em 1rem;
    background: rgba(lighten($primary-color, 2), 0.7);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem 12rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 1rem;
      font-size: 2.5rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
